obj
*.dSYM
*.o
abimangle
pptoken
posttoken
ctrlexpr
macro
preproc
recog
lowir2cy86
lowiropt
lowir2native
cppeh
cpplink
tmplsolve
cppgm++
cppgm++-telemetry-off
cpptoolchain
cpphostinterop
cpphostcompat
cppconstexpr
cpptemplatecomplete
lowir2ehobj
lowir2obj
ehlink
objlink
cppclasses
cppvalue
cppvirt
cpptemplates
cppmeta
cpplangcore
cpplangcomplete
cppobjectcomplete
cppmultivirt
cpplowir
cppcodegen
cppcalls
cpptypes
cppast
mobjroundtrip
nsdecl
nsinit
cy86
clang-template-student-metrics-plugin.dylib
clang-template-student-metrics-plugin.so
clang-sema-interpose-probe.dylib
clang-sema-interpose-probe.so
gcctmplmetrics.dylib
gcctmplmetrics.so
*.json
*-profile
*-debug
*-asan
*-fast
